@model List<ResultAboutDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/Index.cshtml";
}


    @if(Model!=null)
    {
        
        <div class="text-white" style="display: flex; align-items: center; justify-content: center; height: 100vh; width:80%; ">

        <table style="background-color:transparent;backface-visibility:visible;font-palette:dark;display:flex">
               @foreach(var item in Model)
            {
                <tr>
                    <td>
                        <a style="background-image:url('@item.ImageUrl')"></a>
                    </td>
                </tr>
                <tr>
                    <td>
                        @item.Title
                    </td>
                </tr>
                <tr>
                    <td>
                        @{
                            var paragraflar = item.Description.Split(new[] { "\r\n", "\r", "\n" }, StringSplitOptions.None);
                            foreach (var paragraf in paragraflar)
                            {
                                <p class="text-white"  style="text-indent each-line:2em">@paragraf</p>
                            }
                        }
                           
                       
                        
                    </td>
                </tr>
            }
        </table>         
                        
                          
               
        </div>


    }
    
    
    

