@model List<ResultAboutDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/Index.cshtml";
}

@if (Model != null)
{
    <div class="content-container">
        <table class="styled-table">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a style="background-image:url('@item.ImageUrl')"></a>
                    </td>
                </tr>
                <tr>
                    <td>
                        @item.Title
                    </td>
                </tr>
                <tr>
                    <td>
                        @{
                            var paragraflar = item.Description.Split(new[] { "\r\n", "\r", "\n" }, StringSplitOptions.None);
                            foreach (var paragraf in paragraflar)
                            {
                                <p class="text-black">@paragraf</p>
                            }
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
}
