@model List<ResultConsultancyDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/Index.cshtml";
}

<section class="home-section home-full-height bg-dark-30" id="home" data-background="/TitanTheme/live/assets/images/background.jpg">
    @if(Model!=null)
    {
        @foreach (var item in Model)
        {
            <section class="module">
                <div class="container">
                    <div class="row">
                        <div class="content-box">
                            <h3 class="content-box-title font-serif">@item.ConsultancyTitle</h3>
                            <div class="content-box-image"><img src="@item.ImageUrl" /></div>
                            <p class="content-box"> @item.ConsultancyContent</p>

                        </div>
                    </div>
                </div>
            </section>
        }
    }
   
</section>

