
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/Index.cshtml";
}

@*DEFAULTHOME*@
<div class="titan-caption">
    <div class="caption-content">
        <div class="font-alt mb-30 titan-title-size-1">Merhaba &amp Hoşgeldiniz</div>
        <div class="font-alt mb-40 titan-title-size-4">Avukat<br />Sermin GÜNEŞ KEÇECİ</div><a class="section-scroll btn btn-border-w btn-round" href="/about/Index">Daha Fazlası</a>
    </div>
</div>

