@model CreateBookingDto
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/Index.cshtml";
}



<section class="home-section home-full-height bg-dark-30" id="home" data-background="/TitanTheme/live/assets/images/background.jpg">


    <div class="module">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h4 class="font-alt">RANDEVU BİLGİLERİNİ GİRİNİZ</h4><br />
                    <form id="contactForm" role="form" method="post">
                        <div class="form-group">
                            <label class="sr-only" for="BookingName">ADINIZ SOYADINIZ</label>
                            <input class="form-control" type="text" id="name" name="BookingName" placeholder="ADINIZ SOYADINIZ" required="required" data-validation-required-message="Please enter your name." asp-for=BookingName />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="email">E-POSTA ADRESİNİZ</label>
                            <input class="form-control" type="email" id="BookingEmail" name="BookingEmail" placeholder="E-POSTA ADRESİNİZ*" required="required" data-validation-required-message="Please enter your email address." asp-for="BookingEmail" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="phone">TELEFON NUMARANIZ</label>
                            <input class="form-control" type="tel" id="BookingPhone" name="BookingPhone" placeholder="TELEFON NUMARANIZ*" required="required" data-validation-required-message="Please enter your telephone number." asp-for="BookingPhone" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" rows="7" id="BookingMessage" name="BookingMessage" placeholder="Your Message*" required="required" data-validation-required-message="Please enter your message." asp-for="BookingMessage"></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="form-group">
                            <div class='input-group date' id='datetimepicker1'>
                                <input type='text' class="form-control" asp-for="BookingDate" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-block btn-round btn-d" id="cfsubmit" type="submit">KAYDET</button>
                        </div>
                    </form>

                </div>

            </div>
        </div>

    </div>
</section>







