@{
    Layout = null;
}
@*LAYOUT INDEX*@
<!DOCTYPE html>
<html lang="tr-TR" dir="ltr">
@await Component.InvokeAsync("_LayoutHeaderComponentPartial")



    
        @await Component.InvokeAsync("_LayoutNavbarComponentPartial")



  
 <body style="height:100%">

   

    <div class="hero" style="background-image:url('/View/images/Hero_1.jpg');height: 100vh; background-size: cover; background-position: center;" >       
        @RenderBody()
        
    </div>
    
    @await Component.InvokeAsync("_LayoutScriptComponentPartial")
    @RenderSection("Scripts", required: false)
</body>
@await Component.InvokeAsync("_LayoutFooterComponentPartial")
        
   
   
    

</html>