@{
    Layout = null;
}
@*LAYOUT INDEX*@
<!DOCTYPE html>
<html lang="tr-TR" dir="ltr">
@await Component.InvokeAsync("_LayoutHeaderComponentPartial")

<body>

    
        @await Component.InvokeAsync("_LayoutNavbarComponentPartial")



  
    

    <div class="hero"   style="background-image:url('/View/images/Hero_1.jpg')">
        @RenderBody()
        </div>
    
        @await Component.InvokeAsync("_LayoutFooterComponentPartial")
       
   
    @await Component.InvokeAsync("_LayoutScriptComponentPartial")
    @RenderSection("Scripts", required: false)
</body>
</html>