@using guneshukuk.WebUIv2.Areas.Admin.Models.Dtos.ConsultancyDtos
@model UpdateConsultancyDto
@{
    ViewData["Title"] = "UpdateConsultancy";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}
<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">HİZMET  GÜNCELLEME</h4>
		<div class="row">
			<div class="col-md-12">
				<form method="post">
					<div class="card">

						<div class="card-body">
							@Html.TextBoxFor(x => x.ConsultancyId, new { @hidden = "true", @readonly = "readonly" })

							<div class="form-group">
								<label for="ConsultancyTitle">Hizmet Başlığı  Giriniz</label>
								@Html.TextBoxFor(x => x.ConsultancyTitle, new { @class = "form-control" })
							</div>
							<div class="form-group">
								<label for="ConsultancyContent">Hizmet İçeriği Giriniz</label>
								@Html.TextAreaFor(x => x.ConsultancyContent, new { @class = "form-control" })
							</div>

							<div class="form-group">
								<label for="ImageUrl">Resim Linki Giriniz</label>
								@Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })

							</div>
							

						</div>
						<div class="card-action">
							<button class="btn btn-primary">Hizmet Bilgisi  Güncelle</button>

						</div>
					</div>
				</form>
			</div>


		</div>
	</div>
</div>
