@*FOOTER*@


  
        <div class="footer">

    <p class="copyright font-alt" style="-webkit-text-fill-color:white; text-align:center">&copy; 2024&nbsp;<a style="-webkit-text-fill-color:white; text-align:center" href="/Home/Index">Avukat Sermin Güneş Keçeci</a>, Tüm Hakları Saklıdır</p>
                       
        </div>
  <style>
    .footer {
        background-color: #343a40;
        color: white;        
        height:50px;
        width:100%;      
        text-align:center;
        position:absolute;
        align-items:center;
       
       
    }

  </style>
