@*HEADER*@
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">


    <link rel="stylesheet" href="/View/fonts/icomoon/style.css">


    <link rel="stylesheet" href="/View/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="/View/css/bootstrap.min.css">

    <!-- Style -->

    <link rel="stylesheet" href="/View/css/style.css">

    <title>AVUKAT SERMİN GÜNEŞ KEÇECİ</title>

    <!-- THEME CSS
    ================================================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/blog/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Themify -->
    <link rel="stylesheet" href="/blog/plugins/themify/css/themify-icons.css">
    <link rel="stylesheet" href="/blog/plugins/slick-carousel/slick-theme.css">
    <link rel="stylesheet" href="/blog/plugins/slick-carousel/slick.css">
    <!-- Slick Carousel -->
    <link rel="stylesheet" href="/blog/plugins/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/blog/plugins/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="/blog/plugins/magnific-popup/magnific-popup.css">
    <!-- manin stylesheet -->
    <link rel="stylesheet" href="/blog/css/style.css">


</head>