@*HEADER*@
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">


    <link rel="stylesheet" href="/View/fonts/icomoon/style.css">


    <link rel="stylesheet" href="/View/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="/View/css/bootstrap.min.css">

    <!-- Style -->

    <link rel="stylesheet" href="/View/css/style.css">

    <title>AVUKAT SERMİN GÜNEŞ KEÇECİ</title>


</head>